@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand: #7e22ce;
  --brand-hover: #6b21a8;
  --brand-light: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  --color-brand-light: var(--brand-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --brand: #a855f7;
    --brand-hover: #c084fc;
    --brand-light: #9333ea;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
